@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --secondary-text-clr: #b0b3c1;
  --accent-clr: #5e86ff;

  --primary-bg-color: linear-gradient(to bottom, #222222 0%, #333333 100%);
  --section-bg-color: #444444;
  --header-font-color: #ffffff;
  --champion-card-bg-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--base-clr);
  color: var(--text-clr);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: min(30px, 70%);

  p {
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.root-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 1em;
  padding: 20px 20px;
}

.container {
  border: 1px solid var(--line-clr);
  min-width: 500px;
  min-height: 500px;
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
}

h2,
p {
  margin-top: 1em;
}
